{% extends 'device/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="owner_top">
    <br>
    <br>
    {{messages.error}}
    <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <table class="table">
            {{ forms.form.as_table }}
        </table>
        <br>
        <br>
        <button type="submit" class="button-style2">Найти</button>
        <cite>Найдено:{{count}}</cite>
        {%if request.user.is_staff%}
        <a href="{% url 'send' 'sample_send' %}" class="button-style2">Выгрузить выборку</a>
        <br><br>
        <hr>
        <a href="{% url 'send_all' 0 1000 %}" class="button-style2"> Выгрузить все СИ</a>
        <a href="{% url 'data_from_parser' %}" class="button-style2">Parsing</a>
        {%endif%}
        <hr>
    </form>
    <h1 class="error">{{error}}</h1>
    <b><a href="{% url 'draft' %}" class="button-style3"> Добавить новую запись</a></b>

</div>
<hr>
<table>
    <tbody>
    <tr>
        <td class="theader">Серийный номер</td>
        <td class="theader">Наименование</td>
        <td class="theader">Модель</td>
        <td class="theader">Год выпуска</td>
        <td class="theader">Шкала</td>
        <td class="theader">Ед. измерения</td>
        <td class="theader">Поз. по ГП</td>
        <td class="theader">Место установки</td>
        <td class="theader">Тэг</td>
        <td class="theader">Дата изменения</td>
        {% if request.user.is_staff %}
        <td> Кто внес изменения</td>
        {% endif %}
        <td class="theader">Дата следующей поверки</td>
        <td class="theader">Комментарий</td>
    </tr>
    {%for equipment in equipments%}
    <tr>
        <td class="table-td"><a class="a-serial-number" href="{{ equipment.get_absolute_url }}">{{equipment.serial_number}}</a>
        </td>
        <td class="table-td"><a class="a-serial-number" href="{{ equipment.get_absolute_url }}">{{equipment.name}}</a>
        </td>
        <td class="table-td">{{equipment.model}}</td>
        <td class="table-td">{{equipment.year}}</td>
        <td>{{equipment.si.last.scale.min_scale}}..{{equipment.si.last.scale.max_scale}}</td>
        <td>{{equipment.si.last.unit}}</td>
        <td class="table-td">{{equipment.positions.last.name}}</td>
        <td class="table-td">{{equipment.locations.last.name}}</td>
        <td class="table-td">{{equipment.tags.last.name}}</td>
        <td class="table-td">{{equipment.descriptions.last.at_date|date:"d-m-Y"}}</td>
        {% if request.user.is_staff %}
        <td class="table-td">{{equipment.descriptions.last.user}}</td>
        {%endif%}
        <td class="table-td">{{equipment.si.last.next_verification|date:"d-m-Y"}}</td>
        <td class="table-td">{{equipment.comment}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>

{%endif%}
{% endblock %}
