{% extends 'device/base.html' %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <b>Серийный номер: </b><cite>{{equipment.serial_number}}</cite> <br/>
    <b>Наименование:</b><cite>{{equipment.name}}</cite><br/>
    <b>Модель: </b><cite>{{equipment.model}}</cite> <br/>
    <h3 class="error">{{error}}</h3>

    <table>
        {% if request.user.is_staff%}
        <tr>
            <td><b><cite>Производитель:</cite> </b></td>
            <td>
                <select name="manufacturer" class="select">
                    {%for manufacturer in manufacturers%}
                    <option>{{manufacturer.name}}</option>
                    <br>
                    {%endfor%}
                    <option selected>{{equipment.manufacturer.name}}</option>
                </select>
            </td>
        </tr>
        {%endif%}
        <tr>
            <td><b><cite>Позиция по ГП:</cite> </b></td>
            <td>
                <select name="position" class="select">
                    {%for position in positions%}
                    <option>{{position.name}}</option>
                    <br>
                    {%endfor%}
                    <option selected>{{equipment.positions.last.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            {%if request.user.is_staff%}
            <td><b><cite>Добавить позицию по ГП:</cite></b></td>
            <td><input type="text" name="position_new" class="type2"></td>
            {%endif%}
        </tr>
        <tr>
            <td><b><cite>Место установки:</cite></b></td>
            <td><textarea class="type2" rows="4" name="location">{{equipment.locations.last.name}}</textarea></td>
        </tr>
        <tr>
            <td><b><cite>Тэг:</cite></b></td>
            <td><input type="text" class="type2" name="tag" value="{{equipment.tags.last.name}}"></td>
        </tr>
        <tr>
            <td><b><cite>Статус:</cite></b></td>
            <td><select name="status" class="select">
                {%for stat in status%}
                <option>{{stat}}</option>
                {%endfor%}
                <option selected>{{equipment.status.last.name}}</option>
            </select></td>
        </tr>
        <tr>
            <td><b><cite>Комментарий:</cite></b></td>
            <td><textarea class="type2" rows="6" name="description">{{equipment.descriptions.last.name}}</textarea></td>
        </tr>
        <tr>
            <td><b><cite>Примечание:</cite></b></td>
            <td><textarea class="type2" rows="6" name="comment">{{equipment.comment}}</textarea></td>
        </tr>
        {%if si_or%}
        <tr>
            <td {%if not request.user.is_staff %} class="owner" {%endif%}><b><cite>Дата предыдущей поверки:</cite></b>
            </td>
            <td {%if not request.user.is_staff %} class="owner" {%endif%}><input class="select" type="date"
                                                                                 name="previous_verification"
                                                                                 value='{{equipment.si.last.previous_verification|date:"Y-m-d"}}'>
            </td>
        </tr>

        <tr {%if not request.user.is_staff %} class="owner" {%endif%}>
            <td><b><cite>Ед. измерения:</cite></b></td>
            <td><select name="unit" class="select">
                {% for unit in units %}
                <option>{{unit}}</option>
                {%endfor%}
                <option selected>{{unit}}</option>
            </select></td>

        </tr>
        <tr {%if not request.user.is_staff %} class="owner" {%endif%}>

            <td><b><cite>Минимум шкалы:</cite></b></td>
            <td>
                <input class="type2"
                       name="min_scale"
                       value='{{min_scale}}'></td>
        </tr>
        <tr {%if not request.user.is_staff %} class="owner" {%endif%}>
            <td><b><cite>Максимум шкалы:</cite></b></td>
            <td>
                <input class="type2"
                       name="max_scale"
                       value='{{max_scale}}'></td>

        </tr>
        {%endif%}
        <tr {%if not request.user.is_staff %} class="owner" {%endif%}>
            <td><b><cite>Дефек:</cite></b></td>
            <td>
                <input type="checkbox" name="defect_or" class="type3" {% if equipment.defect_or %} checked {%endif%}>
            </td>
        </tr>
    </table>
    <button type="submit" class="button-style2"> Обновить данные</button>
    <a href="{% url 'search' %}" class="button-style2">К поиску</a>

</form>


{% endblock %}

