{% extends 'device/base.html' %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <b>Серийный номер: </b><cite>{{equipment.serial_number}}</cite> <br/>
    <b>Наименование:</b><cite>{{equipment.name}}</cite><br/>
    <b>Модель: </b><cite>{{equipment.model}}</cite> <br/>

    <h3 class="error">{{error}}</h3>


    <b><cite>Позиция по ГП:</cite></b>
    <select name="position" class="select">
        {%for position in positions%}
        <option>{{position.name}}</option>
        <br>
        {%endfor%}
        <option selected>{{equipment.positions.last.name}}</option>
    </select><hr>
    <b><cite>Место установки:</cite></b>
    <input class="type2" type="text" name="location" value="{{equipment.locations.last.name}}"><hr>
    <cite><b>Тэг:</b></cite>
    <input type="text" class="type2" name="tag" value="{{equipment.tags.last.name}}"><hr>
    <cite><b>Статус:</b></cite>
    <select name="status" class="select">
        {%for stat in status%}
        <option>{{stat}}</option>
        {%endfor%}
        <option selected>{{equipment.status.last.name}}</option>
    </select>
    <br>
    <br>
    <b>Комментарий</b>
    <textarea class="type2" name="description">{{equipment.descriptions.last.name}}</textarea>
    {%if si_or%}
    <b>Дата предыдущей поверки:</b>
    <input {%if not request.user.is_staff %} readonly {%endif%} class="select" type="date" name="previous_verification"
           value='{{equipment.si.last.previous_verification|date:"Y-m-d"}}'>
    <b>Сертификат:</b>
    <input {%if not request.user.is_staff %} readonly {%endif%} class="type2" type="text" name="certificate" value="{{equipment.si.last.certificate}}">
    <br><br>
    {%endif%}
    <button type="submit" class="button-style2"> Обновить данные</button>
    <a href="{% url 'search' %}" class="button-style2">К поиску</a>

</form>


{% endblock %}

