{% extends 'device/base.html' %}
{% block content%}
<form action="" method="get">
    <table>
        {{ filter.form.as_table }}
    </table>
    <input type="submit"/>
</form>
<br>
<a href="{% url 'add_gp' %}">
    <button type="button" class="search_btn"> Add</button>
</a>
<table>
    <thead>
    <tr>
        <td>
            <b>Позиция по ГП</b>
        </td>
        <td>
            <b>Краткое описание</b>
        </td>
        <td>
            <b>Действие</b>
        </td>
        <td>
            <b>Порядок</b>
        </td>
    </tr>
    </thead>
    {% for object in objects %}
    <tr>
        <td>
            {{ object.name }}
        </td>
        <td>
            {{ object.construction }}
        </td>
        <td>
            <a href="{% url 'update_gp' object.pk %}">Update</a>||
        </td>
        <td>
            {{ object.o }}
        </td>
    </tr>
    {%endfor%}
</table>

{% endblock %}