{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%if 'Android' in request.headers.user_agent or 'iPhone' in request.headers.user_agent%}
    <link rel="stylesheet" type="text/css" href="{% static 'device/css/style_phone.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    {%else%}
    <link rel="stylesheet" type="text/css" href="{% static 'device/css/style.css' %}">
    {%endif%}
    <meta charset="UTF-8">
    <title>Мои экзамены</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="button-style2"> Сохранить</button>
    <a href="{% url 'search' %}" class="button-style2">К поиску</a>
</form>
<table>
    <tr>
        <td class="theader">
            <b> Имя</b>
        </td>
        <td class="theader">
            <b> Охрана труда</b>
        </td>
        <td class="theader">
            <b>Эл. безопасность</b>
        </td>
    </tr>
    {% for obj in objects %}
    <tr>
        <td>

            {{obj.user.username}}
        </td>
        <td>
            {{obj.exams_ot}}

        </td>
        <td>
            {{obj.exams_eb}}
        </td>
    </tr>
    {% endfor %}
</table>
{% if request.method == 'POST' %}
<div class="success">Данные обновлены</div>
{% endif %}
</body>
</html>