{% extends 'device/base.html' %}

{% block content%}
{%if request.user.is_staff%}
<a href="{% url 'ppr_date_add' %}" class="button-style2">Добавить периоды проведения ППР </a>
{%endif%}
<table>
    <tr>
        <th>
            <b>Дата ППР</b>
        </th>
        {%if request.user.is_staff%}
        <th>
            <b> Действие </b>
        </th>
        {%endif%}
    </tr>
    {% for date in dates %}
    <tr>
        <td>
            <a href="{% url 'ppr_list' date.pk  %}"> {{ date.ppr_date }}</a>
        </td>
        {%if request.user.is_staff%}
        <td>
            <a href="{{ date.get_absolute_url }}">Update</a>
        </td>
        {%endif%}
    </tr>
    {%endfor%}
</table>

{% endblock %}