{% extends 'defect/base.html' %}

{% block content%}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ objects.form.as_table }}
    </table>
    <button type="submit" class="button-style2">Найти</button>
    <cite>Найдено:{{count}}</cite>
    <hr>
</form>

<br><br><br>
<table>
    <thead>
    <tr>
        <th>Серийный номер</th>
        <th>ГП</th>
        <th>Место установки</th>
        <th>Тэг</th>
        <th>Акт</th>
        <th>Проект</th>
        <th>Краткое описание</th>
        <th>Причина отказа</th>
        <th>Статус</th>
        <th>Что требуется для устранения</th>
        <th>Время наработки</th>
        <th>Номер письма в Инвест</th>
        <th>Утверждающий</th>
        <th>Мастер по КАиТ</th>
        <th>Мастер цеха</th>
        <th>Подрядчик</th>
    </tr>
    </thead>
    <tbody>
    {%for object in objects.qs%}
    <tr>
        <td><a href="{{ object.get_absolute_url}}"> {{object.serial_number}}</a> <a href="{% url 'defect:send_act' object.pk %}"> Акт</a> </td>
        <td>{{object.gp}}</td>
        <td>{{object.location}}</td>
        <td>{{object.tag}}</td>
        <td>{{object.defect_act}}</td>
        <td>{{object.project}}</td>
        <td>{{object.short_description}}</td>
        <td>{{object.causes}}</td>
        <td>{{object.status|linebreaksbr}}</td>
        <td>{{object.fix}}</td>
        <td>{{object.operating_time}}</td>
        <td>{{object.invest_letter}}</td>
        <td>{{object.approve}}</td>
        <td>{{object.kait}}</td>
        <td>{{object.worker}}</td>
        <td>{{object.contractor}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>


{% endblock %}