
.description {
  width: 100%;
  height: 50px;

  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.error{
color:red;
}

.update{
width:8em;

}
.text{
width:90%
}
table {
  width: 100%;
  border-collapse: collapse;

}
tr, td, th {
  border: 1.5px solid black;
  padding: 4px;
  text-align: left;
}
.detail{
height:30px
}

.si{
width:25px;
border-collapse: collapse;
border: 1.5px solid purple;
}

.eq {
  outline: none;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 0.5em;
  border-radius: 100px;
  margin-right: 0.625%;
  text-align: center;
  line-height: 1;
  color: black;
}

.eq:link,
.eq:visited,
eq:focus {
  background: #0095B6;
}

eq:hover {
  background: orange;
}

eq:active {
  background: red;
  color: white;
}
.td_position, th{
border-collapse: collapse;
border: 3px solid purple;
}

.category-wrap {
  padding: 15px;
  background: white;
  width: 10em;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
}
.category-wrap h3 {
  font-size: 16px;
  color: rgba(0,0,0,.6);
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
}
.category-wrap h3:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #80C8A0;
  position: absolute;
  right: 5px;
  bottom: 2px;
  box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
}
.category-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0,0,0,.3);
}
.category-wrap li {margin: 12px 0 0 0px;}
.category-wrap a {
  text-decoration: none;
  display: block;
  font-size: 13px;
  color: rgba(0,0,0,.6);
  position: relative;
  transition: .3s linear;
}
.category-wrap a:after {
  content:"\f18e";
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  color: white;
  transition: .2s linear;
}
.category-wrap a:hover {
  background: #80C8A0;
  color: white;
}

.button-style {
  display: inline-block;
  padding: 10px 15px;
  margin-left:10px;
  width:88px;
  background: #f2f2f2;
  border: 1px solid #000;
  color: #333;
  text-decoration: none;
  text-align: center;
  box-shadow: -2px -2px 20px 20px #80C8A0, 0 -2px #80C8A0, -2px 0 #80C8A0;
  color:#80C80A;
}

.button-style:hover, .button-style:focus {
  background: #e2e2f2;

}

.button-style2 {
  display: inline-block;
  padding: 5px 5px;
  margin-left:10px;
  margin-top:10px;
  width:88px;
  background: #f2f2f2;
  border: 1px solid #1E90FF;
  color: ##00BFFF;
  text-decoration: none;
  text-align: center;
  box-shadow: -2px -2px 2px 2px #00BFFF, 0 -2px #00BFFF, -2px 0 #00BFFF;
  color:#00BFFF;
  width:auto;
}

.button-style2:hover, .button-style:focus {
  background: #e2e2f2;

}

.button-style3 {
  display: inline-block;
  padding: 5px 5px;
  margin-left:10px;
  margin-top:10px;
  width:88px;
  background: #f2f2f2;
  border: 1px solid #A52A2A;
  color: #800000;
  text-decoration: none;
  text-align: center;
  box-shadow: -2px -2px 2px 2px #800000, 0 -2px #800000, -2px 0 #800000;
  color:#800000;
}

.button-style3:hover, .button-style:focus {
  background: #e2e2f2;

}
.user
{
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  width: 100px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.owner
{
display: none;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: rgba(0,0,0,.6);
  position: relative;
  transition: .3s linear;
}
.shadowbox {
  width: 10.2em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  border-radius: 10px;
}

.footer	{
	width: 100%;
	height: 100px; // не ограничивайте высоту основных блоков, лучше пишите min-height
	background: #696969;
	bottom: 0; // координата не работает без свойства position
}
.strip	{
	width: 1000px;
	margin: 10px 0 0 auto;
	background: #FFFFFF;
	z-index: 1; // работает также только для явно спозиционированных блоков
}

.image {
            margin:10px;
            margin-top:0px;
        }
.sidebar{
    border: 2px solid #ccc;
    background-color: #eee;
    width: 400px;
    padding: 10px;
    margin-left:10px;
    font-size: 20px;
}

.search-results{
width: 200px;
 display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 16px;
}


/*sub menu*/
.dws-menu li ul{
 position: absolute;
 min-width: 150px;
 display: none;
}
.dws-menu li > ul li{
 border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
 padding: 10px;
 text-transform: none;
 background: #e4e4e5;
}
.dws-menu li > ul li ul{
 position: absolute;
 top: 0;
}
.dws-menu li:hover > ul{
 display: block;
}

/*==== MEDIA ====*/
.dws-menu [type="checkbox"],
.dws-menu label.toggleSubmenu{
 display: none;
}
.dws-menu label.toggleMenu{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
 background: rgb(201,201,201); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */

 display: none;
 padding: 15px 40px;
 text-transform: uppercase;
 font-size: 14px;
 cursor: pointer;
 position: relative;
}

.dws-menu label.toggleMenu .fa{
 position: absolute;
 top: 15px;
 left: 12px;
 font-size: 18px;
}
@media all and (max-width: 800px){
 .dws-menu{
  overflow: hidden;
 }
 .dws-menu ul{
  display: block;
  max-height: 0;
  transition: max-height 0.3s;
 }
 .dws-menu li>ul li ul{
  position: absolute;
  right: auto;
  top: auto;
 }
 .dws-menu label.toggleMenu{
  display: block;
 }
 input.toggleMenu:checked + label.toggleMenu{
  background: #000;
  color: #fff;
 }
 input.toggleMenu:checked ~ ul,
 input.toggleSubmenu:checked ~ ul{
  display: block;
  position: relative;
  max-height: 5000px;
  transition: max-height 2s ease-in;
 }
 .dws-menu label.toggleSubmenu{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
 }
 input.toggleSubmenu:checked ~ a{
  background: #454547;
  color: #fff;
 }
 .dws-menu label.toggleSubmenu .fa:before{
  content: "\f0d7";
  color: #454547;
 }
 .dws-menu label.toggleSubmenu .fa{
  position: absolute;
  top: 15px;
  right: 30px;
 }
 .dws-menu input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before{
  content: "\f0d8";
  color: #ffffff;
 }
}

.menu2{
width: 100%;
background: #454547;
}